.container{
    margin: 95px auto;
    border: 2px solid black;
    border-radius: 40px;
}

.container h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
.container h3{
    text-align: center;
    color: rgb(0, 0, 0);
}

.container label{
    color: rgb(0, 0, 0);   
}

.container button{
    margin: 10px 40px;
    width:70px
}

.premium{
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin: 10px 100px;
    align-items: center
}

.containerDark{
    margin: 95px auto;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
}

.containerDark h1{
    text-align: center;
    color: rgb(255, 255, 255)
}
.containerDark h3{
    text-align: center;
    color: rgb(255, 255, 255);
}

.containerDark label{
    color: rgb(255, 255, 255);   
}

.containerDark button{
    margin: 10px 40px;
    width:70px
}