.container{
    margin: 95px auto;
    border: 2px solid black;
    border-radius: 40px;
}

.container h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

.container label{
    color: rgb(0, 0, 0);   
}

.container button{
    margin: 10px 513px
}